ul {
  list-style-type: none;
  background-color: #333;
  color: white;
  display: inline-block;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: double;
}

li a:hover {
  background-color: #111;
}
