.movie_data {
  background-color: white;
  margin: 30px;
  padding: 30px;
  color: gray;
  position: relative;
}

.movie_title {
  color: black;
  font-size: xx-large;
}

.movie_id {
  color: red;
  position: absolute;
  top: 20px;
  right: 20px;

  border: 1px solid #dae0ed;
  background-color: #dae0ed;
  font-weight: bold;
  border-radius: 10%;
  padding: 5px;

  box-shadow: 10px 0px 17px 23px #000000;
}

.movie_info {
  border: 1px solid #dae0ed;
  background-color: #dae0ed;
  font-weight: bold;
  border-radius: 10%;
  padding: 5px;

  box-shadow: 10px 0px 17px 23px #000000;
}

.movie_adult{
    z-index: 78945613;
    
}

.movie_poster{
    display:inline-block;
    position: relative;
    glgnglgnal gl glgnal glgnal
    glgnglgnal gl glglan ekdltmzl
     glgnglgnal gl glgnal glgnal dkwlxksl glgnal ekdl tmzltmzl
     glgnglgnal gl glgnal glgnal glgn glgnal gl glgnal ekdltmzl
     glgnglgnal gl glgnal glgnal dkwlxksl gngnal ekdl tmzltmzl
     glgnglgnal gl glgnal glgnalgl glgn glgnal gl glgnal glgnal
     glgnglgnal gl glgnal glgnal dkwlxksl glgnal ekdl tmzltmzl
     ahf>fn lgangladpg;
}