.yt__main {
  color: white;
  background-color: #2f3034;
  width: 500px;
}

.yt__top {
  display: flex;
  justify-content: space-between;
}

.yt__clock {
  color: aliceblue;
  margin-left: 20px;
}

.yt__icon {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 120px;
}

.yt__icon > span {
  margin-left: 1px;
}

svg {
  width: 17px;
}

.yt__top2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.yt__top2_left {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yt__top2_right {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.yt__top2_right_type > svg {
  width: 25px;
}
.yt__top2_right_type_User {
  background-color: skyblue;
  border-radius: 50%;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.yt__top3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15px;
}

.yt__top3_left {
  /* border: 1px solid rgb(238, 0, 255); */
  margin: 0px 20px;
  width: 80px;
  height: 30px;
  border-radius: 3px;

  background-color: #575758;
  display: flex;
  justify-content: center;
  align-items: center;
}
.yt__top3_left > svg {
  margin-right: 5px;
}

.yt__top3_Line {
  background-color: #575758;
  width: 3px;
  height: 30px;
  margin-right: 20px;
}

.yt__top3_right {
  display: flex;
  justify-content: space-between;
  /* border: 3px solid red; */
  width: 300px;
}

.yt__top3_right_type {
  border-radius: 15px;
  background-color: #575758;
  padding: 5px;
  flex-wrap: wrap;
}
.yt__top3_right_type:hover {
  background-color: aliceblue;
  color: black;
}

.yt__video {
  /* border: 3px solid red; */
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}
.yt__video_Thumbnail {
  /* border: 3px solid red; */
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
}
.yt__video_Thumbnail > img {
  width: 100%;
}

.yt__video_Thumbnail_runTime {
  background-color: rgba(0, 0, 0, 0.9);
  width: 9%;
  text-align: center;
  /* border: 3px solid red; */
  position: absolute;
  bottom: 10px;
  right: 10px;
}
/*position: absolute;가 동작하려면 부모 태그에 포지션:relative 가 있어야 한다.  */

.yt__video_bar {
  width: 100%;
  display: flex;
}

.yt_video_info_uploaderProfile > img {
  width: 50px;
  border-radius: 50%;
}

.yt_video_info_text {
  margin-left: 10px;
  width: 100%;
}
.yt_video_info_uploaderInfo {
  /* display: flex;
  justify-content: space-between; */
  width: 100%;
}
.yt_video_info_title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.yt_video_info_title > svg {
  width: 30px;
}
.yt_video_info_uploaderInfo > * {
  margin-right: 5px;
  color: #aeaeae;
}
